table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
}

.action {
  min-width: 100px;
  text-align: center;
}

#pagination {
  display: flex;
  justify-content: center;
}
#pagination li {
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 5px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background: #bb6868ba;
  color: #fff;
  cursor: pointer;
}

#pagination li:hover {
  background: #bb6868ba;
  color: #fff;
  cursor: pointer;
}
#modal,
#modal-edit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.modal-container {
  width: 300px;
  background: #fff;
  border-radius: 8px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
}
